.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contentContainer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  background-image: url('../sources/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: transparent;
  background-blend-mode: luminosity;
  background-size: cover; 
}

.introcontainer {
  justify-content: left;
  color:DarkSlateGrey;
  width: 100%;
  float: none;
  margin-bottom: 50px;
  z-index: 50;
}

.introcontainer a{
  text-decoration: none;
}
.BigDiv {
  min-height: 100vh;
  overflow: auto;
  background-color: white;
  scroll-behavior: smooth;
  
}
.NavContainer {
  font-size: large;
  color:#D3D3D3
}
.aboutdesc {
  width: 60%;
  float: left;
  padding-top: 20px;
  
}
.aboutimg{
  float: right;
  width: 35%;
  justify-content: center;
  align-content: center;
}



.pimg {
  width: 300;
  height: 300; 
  border-radius: 400/ 2;

}
.prjimg {
  width: 40%;
  float: left;
 
  padding-right: 3%;
  padding-bottom: 3%;
  /* margin-bottom: 40px; */


 
}
.prjdesc {
  float: right;
  width: 60%;
  font-size: small;
}
.prjbtn {
 
  border-radius: 12px;
  border:none;
 
}

.prj-mobile-v {
  display: none;
}
.prjimg-smaller {
  color: dimgray;
  font-size: 20px;
  position: absolute;
  top:50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: small;
  
}
.overlay {
  
  transition: .5s ease;
  opacity: 0;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  
}
strong {
  color:black;
}

h1 {
  font-size:7vw;
} 

h6 {
  color:#3e4444;
  /* text-shadow: -1px 0 #c1946a, 0 1px #c1946a, 1px 0 #c1946a, 0 -1px #c1946a;  */
 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
h3.title {
  font-size:2.5vw;
  
}
hr {
  border-color: #ada397;
}
.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-item:hover {
  background-color: #c4b7a6;
  transition: .6s ease;
}

.tab-list-active {
  background-color: #c4b7a6;
  border: solid #c4b7a6;
  border-width: 1px 1px 0 1px;
}

.subdiv {
  float: left;
  width: 100%;
  margin-top: 50px;
  
  padding-left: 15%;
  padding-right: 15%;
  justify-content: center;
  color: black;
  /* font-family: 'Trebuchet MS', sans-serif;  */
  /* font-family: Garamond, serif;  */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 15px;
}
.subdiv-add {
  background-color: #dbceb0;
  padding-top: 20px;
  overflow: auto;
}
.subdiv-add-ex {
  overflow: auto;
}

.tr-skills {
  height: 30px;
}
.tr-skills:hover {
  background-color: #c4b7a6;
  transition: .8s ease;
} 
.td-skills-name {
  width: 65%;


}



.section-st {
  min-height: 330px; 
  overflow: auto;
  scroll-behavior: smooth;
}
.section-title {
  min-height: 720px;
  scroll-behavior: smooth;
  padding-top: 150px;
}

.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.pimg-thumbnail {
  width: 100%;
  height: 179px;
  opacity: 0.3;
  
}

.pimg-thumbnail:hover {
  opacity: 1;
  transition: .5s ease;
}

.git-ic-link {
  padding-left: 10px;
  color: aliceblue;
  
}
.git-ic-link :hover {
  color: gray;
}

.ul-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  width: 100%;
}



.li-nav {
  float: left;
  
  text-align: center;
  padding: 16px;
}
.li-nav a {
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
  color: black;
  position: relative;
  display: block;
}
.li-nav a:hover {
  color: gray;
}
.li-nav a:active::before {
  background-color: gray;
}
.li-nav a::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 1.5px;
  width: 100%;
  background-color:dimgray ;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;

}

.li-nav a:hover::before  {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.header-nav {
  font: small-caps bold 24px/1 sans-serif;
  
}
.col-sm-3 {
  padding-top: 15px;
  padding-left: 3%;
}
.header-nav a{
  text-decoration: none;
  color: #625750;
}

.contact-div {
  background-color: dimgray; 
  width: 100%;
  height: 400px;
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.contact-div-title {
  text-align: center;
  margin: 10px;
  color: white;
}
.contact-div table {
  margin: auto;
}
.contact-td {
  padding-top : 10px;
  font-size: 15px;
  padding-right: 70px;
}
.contact-ic {
  margin-right: 15px;
  margin-bottom: 10px;
}

.contact-td a {
  text-decoration: none;
  color: lightgray;
}
.contact-td a:hover {
  color: white;
}
.contact-div-footer {
  text-align: center;
  margin-top: 40px;
  color: gray;
}

.div-abil {
  margin-bottom: 18px;
  width: 100%;
 
}


.a-button {
  display: block;
  width: 115px;
  height: 40px;
  border-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}
.header {
  /* background-color: #dbceb0;  */
  background-color: transparent;
  /* padding: 0px;
  margin: 0px; */
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  transform: translateY(0);
  transition: transform 0.3s ease;
}


.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
  background-color: white;
}

.header.hidden {
  transform: translateY(-110%);
}
.exp-dur-font {
  font-size: smaller;
  color:darkgray ;
  margin:0;
}
.exp-loc-font {
  font-size: smaller;
  color: MediumAquaMarine;
  margin-bottom: 15px;
  
}

.ul-nav2 {
  padding-left: 25px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  list-style-type: none;
}

.mobile-option {
  display: none;
}
.mobile-menu {
  display: none;
}

option:hover {
  color: white;
}

.git-ic-smaller {
  font-size: large;
}
.desc-st-mob{
  display: none;
}

.email-tabmob {
  display: inline;
  
}
.newrow {
  
  display: none;
}
.ex-mobile-v {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
 
}




@media (max-width: 1000px) {
  .grid-container {
    display: inline-block;
    width: 100%;
  }
  .ex-desktop-v {
    display: none;
  }
  .ex-mobile-v {
    display: inline-block;
  }
  .prj-desktop-v {
    display: none;
  }
  .prj-mobile-v {
    display: inline-block;
  }
  .prjbtn {
    position: relative;
   
  }
  .aboutdesc {
    width: 100%;
    font-size: small;
    color: dimgray;
  }
  
  .aboutimg {
    
    text-align: center;

    float: none;
    width: 100%;
    justify-content: center;
    align-content: center;
    
  }
  
  .prjdesc {
    display: none;
  }
  .pimg-thumbnail {
    width: 430px;
    height: 300px;
    opacity: 1;
    display: block;
    transition: .5s ease;
  }
 

  .prjbtn:hover .pimg-thumbnail {  
      opacity: 0.2;
  }
  .prjbtn:hover .overlay {
    opacity: 1;
  }
  .prjimg {
    width: 100%;
    text-align: center;
    transition: all 0.5s ease;
  }
  .prjimg-smaller a {
    color: black;   
  }
  .prjimg-smaller a:hover {
    color: grey;
  }
}
@media (max-width: 880px) {
  .email-tabmob {
    display: none;
  } 
   .contact-td {
    padding-right: 2px;
  } 
  .secondrow-tabmob {
    display: none;
  }
  .newrow {
  
    display:inline-block;
  }
}
@media (max-width: 680px) {
  
  .prjimg{
    padding-right: 0;
  }
  .subdiv {
    padding-left: 25px;
    padding-right: 25px;
  }
  .pimg-thumbnail {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    display: block;
    transition: .5s ease;
  
  }
  .overlay {
    opacity: 1;
  }
  .prjimg-smaller {
    font-size: small;
  }
  .git-ic-smaller {
    font-size: large;
  }
  
  
  .ul-nav {
    top: 50px;
    width: 100%;
    height: 100vh;  
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
    align-content: center;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    visibility: hidden;
  }
  
  .ul-nav.active {
    background: #FAEBD7;
    opacity: 1;
    transition: all 0.5s ease;
    display: flex; 
    visibility: visible;
    
   padding-top: 33%;
  }
  
  .col-sm-3 {
    width: 40%;
   
  }
  .col-sm-9 {
    width: 60%;
  }
  
  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .li-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
    font-size: x-large;
    font-variant: small-caps;
    font-weight: bold;
    
  }
  .li-nav a{
    color: #625750;
  }
  .mobile-menu {
    display: block;
    float: right;
    margin-top: 7px;
  }

  h1 {
    font-size: 9vw;
  }
  h3.title {
    font-size:3vw;
    
  }

  

}
@media (max-width: 450px) {
  .prjimg-smaller {
    left: 40%;
    font-size: xx-small;

    width: 68%;
  }
  
  
  .li-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px 0px;
    font-size: 5vw;
    font-variant: small-caps;
    font-weight: bold;
    
    
  }
  .li-nav a{
    color: #625750;
  }
  .ul-nav.active {
   
    
   padding-top: 50%;
  }
  h1 {
    font-size: 12vw;
  }
  h3.title {
    font-size:4vw;
    
  }
  .mobv {
    width: max-content;
    font-size: small;
  }
 
}
@media (max-width: 370px) {
  .prjimg-smaller {
    font-size: 2vw;
  }
  .td-skills-name {
    font-size: smaller;
    width: 55%;
  }
  .header-nav {
    font-size: large;
  }

}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
